# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask stuff:
instance/
.webassets-cache

# mac stuff:
*.DS_Store

# DB
*.db

# Facebook secret key
secrets.py

# Package folder
node_modules
static/bower_components
