/* custom styles */

body {
  margin: 0px;
  background-color: #444;
  color: #333;
}

input[type=checkbox] {
  margin-right: 5px;
}

a {
  color: white;
	font-family: monospace;
	font-size: 15px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

#selectedProgram {
  color: #fff;
  font-size: 30px;
}

#selectedField {
  color: #fff;
  font-size: 20px;

}

#selectedField select {
  background-color: #000;
}

#search {
  width: 80%;
  height: 30px;
  font-size: 30px;
  color: #222;
}

.grey{
  background-color: #333;
}

.light-grey{
  background-color: #ddd;
}

.profileSelected {
  background-color: #666;
  border: 1px solid #333;
}

.profileUnselected {
  background-color: #444;
  border: 1px solid #333;
}

.course-row {
  background-color: #333;
  color: #fff;
  padding: 0px;
  border: none;
  font-size: 16px;
  margin-left: 2px;
}

.white{
  color: #fff;
}

.noborder {
  border: 0px solid black;
}

.profileElement {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
