body {
  margin: 0px;
  background-color: #444;
  color: #333;
  /*overflow: hidden;*/
}

#footer {
  color: #e3e3e3;
  font-size: 12px;
  margin-left: 10px;
}

.facebook-btn {
  margin: 2px;
}

.facebook-btn-logout {
  float: right;
  min-height: 46px;
}

/* Hide the scrollbar */
::-webkit-scrollbar {
    display: none;
}

input[type=checkbox] {
  margin-right: 5px;
}

a {
  color: #333;
	font-family: monospace;
	font-size: 15px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

.select-box {
  padding: 0px;
  margin: 0px;
  border: 0px;
  color: white;
  background-color: inherit;
  font-size: 20px;
}

.select-box select {
  background-color: black;
}

.select-row {
  margin-left: 10px;
}

/* Searchbox to filter courses */
#search {
  width: 100%;
  height: 30px;
  font-size: 30px;
  color: #222;
}

.grey{
  background-color: #333;
}

.light-grey{
  background-color: #ddd;
}

.profileSelected {
  background-color: #666;
  border: 1px solid #333;
}

.profileUnselected {
  background-color: #444;
  border: 1px solid #333;
}

.scheduleSelected {
  /*background-color: #666;*/
  background-color: midnightblue;
  border: 1px solid #333;
  margin: 1px;
}

.scheduleUnselected {
  /*background-color: #444;*/
  background-color: cadetblue;
  border: 1px solid #333;
  margin: 1px;
}

.scheduleUnselected:hover {
  background-color: #666;
}

.course-row div {
  color: #333;
  padding: 0px;
  border: none;
  font-size: 16px;
  padding-left: 2px;
}
.course-row {
  background-color: tomato;
  margin-left: 0px;
  margin-right: 0px;
}

.course-row.not-active div {
  background-color: salmon;
}

.course-row a:hover {
  color: black;
}

.course-row a {
  text-decoration: underline;
}

.course-row-header {
  background-color: #e3e3e3;
}

/* Override the bootstrap margin */
.row .row {
  margin-top: 5px;
}

.schedule {
  position: fixed;
  right: 0px;
}

.white{
  color: #fff;
}

.noborder {
  border: 0px solid black;
}

.profileElement {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.profile-style {
  padding: 15px;
}

.course-count {
  color: #fff;
  font-size: 30px;
}

.course-selected {
  border: 1px solid black;
  background-color: #4ABDAC;
  margin: 2px;
  padding: 1px;
}

.my-row {
  margin-right: 0px;
  margin-left: 0px;
}

.potatis {
  min-height: 52px;
  padding-top: 20px;
  padding-bottom: 2px;
  padding-right: 2px;
  padding-left: 2px;

  margin-left: 0px;
  margin-right: 0px;
}

.loader {
    position: fixed; /* or absolute */
    top: 20%;
    left: 40%;
    border: 16px solid #ffffff; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 220px;
    height: 220px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
