<div id="FBLogin">
  {% if current_user.is_authenticated %}
    Hi {{ current_user.nickname }}!
    <a href="/logout">logga ut</a>
  {% else %}
  <a href="/authorize/facebook">F</a>
  {% endif %}


</div>
<!-- <script type="text/jsx">

class FButton extends React.Component {
  constructor(props) {
    super(props);
  }

  render() {
    return (<button onClick={this.onClick}>
            FBLogin
           </button>)
  }

  onClick(ev) {
    console.log(ev);
    checkLogin(function(x) {
      console.log(x);
    })
  }

};

  ReactDOM.render(
    (<FButton/>),
    document.getElementById('FBLogin')
  );
</script> -->
