{% extends "base.html" %}
{% block body %}
    <!-- The main div that content is generated in -->
    <div id="container">
    </div>

<!-- scripts -->
<script type="text/jsx">
/** @jsx React.DOM */

function courseClick(course){
    console.log("Course clicked: " + course.code);
    console.log(course);
    shoppingCart.push(course);
    console.log(shoppingCart);
    var pos = document.getElementById('ht1b1');
    pos.innerHTML += course.code;
};

class CourseRow extends React.Component{
  addCourse() {
   this.props.onClick(this.props.course.code);
  }
  render() {
    var nameTdStyle = {width: '70%', color: 'white'};
    var normalTdStyle = {width: '8%', color: 'white'};

    return (
      <div className="row row-eq-height course-row" onClick={this.addCourse.bind(this)}>
        <div className="col-sm-2 course-row">
          <a href="#">{this.props.course.code}</a>
        </div>
        <div className="col-sm-1 course-row">
          {this.props.course.hp}
        </div>
        <div className="col-sm-1 course-row">
          {this.props.course.level}
        </div>
        <div className="col-sm-1 course-row">
          {this.props.course.semester}
        </div>
        <div className="col-sm-1 course-row">
          {this.props.course.block1}
        </div>
        <div className="col-sm-1 course-row">
          {this.props.course.block2}
        </div>
        <div className="col-sm-5 course-row">
          {this.props.course.name}
        </div>
      </div>
    )
  }
}

class ProfileRow extends React.Component{
  constructor(props) {
    super(props);
    this.state = {
      'selected': 'profileUnselected',
      'checked': false
    }
  }

  profileCheckbox() {
    this.props.onClick({
      'id': this.props.profile.id,
      'checked': !this.state.checked,
    });
    var css = (this.state.selected === 'profileUnselected') ? 'profileSelected' : 'profileUnselected'
    this.setState({
      'selected': css,
      'checked': !this.state.checked
    })
  }

  render() {
    return (
      <div
        className={"col-sm-3 profileElement" + ' ' + this.state.selected}
        onClick={this.profileCheckbox.bind(this)}
      >
        <input
          type="checkbox"
          name={this.props.profile.id}
          checked={this.state.checked}
        />
        {this.props.profile.name}
      </div>
    )
  }
}

class ProfileSelector extends React.Component{
  profileCheckbox(id) {
    this.props.profileCheckbox(id);
  }

  render() {
    var profileRows = [];
    var profiles = this.props.profiles

    var all_courses = {
      'id': -1,
      'name': 'Alla kurser',
    }

    profileRows.push(
      <ProfileRow
        key='all'
        profile={all_courses}
        onClick={this.profileCheckbox.bind(this)}/>);

    profiles.forEach((profile) => {
      profileRows.push(
        <ProfileRow
          key={profile.id}
          profile={profile}
          onClick={this.profileCheckbox.bind(this)}
        />
      );
    });
    var s = {padding: '15px'};
    return (
      <div style={s}>
        <div className="row white">
          {profileRows}
        </div>
      </div>
    )
  }
};

class ScheduleViewer extends React.Component{
  constructor(props) {
    super(props);
  }
  render() {
    return (
      <div>
      {this.props.selectedCourses}
      <div className="row">
        <div className="col-sm-3 light-grey noborder">
          Block
        </div>
        <div className="col-sm-3 light-grey noborder">
          Period 1
        </div>
        <div className="col-sm-3 light-grey noborder">
          Period 2
        </div>
      </div>
      <div className="row">
        <div className="col-sm-3 light-grey noborder">
          1
        </div>
        <div className="col-sm-3 light-grey noborder">
          TDDD27
        </div>
        <div className="col-sm-3 light-grey noborder">
          TDDE01
        </div>
      </div>
      <div className="row">
        <div className="col-sm-3 light-grey noborder">
          2
        </div>
        <div className="col-sm-3 light-grey noborder">
          TATA24
        </div>
        <div className="col-sm-3 light-grey noborder">
          TDDD83
        </div>
      </div>
      <div className="row">
        <div className="col-sm-3 light-grey noborder">
          3
        </div>
        <div className="col-sm-3 light-grey noborder">
          TAEN33
        </div>
        <div className="col-sm-3 light-grey noborder">

        </div>
      </div>
      <div className="row">
        <div className="col-sm-3 light-grey noborder">
          4
        </div>
        <div className="col-sm-3 light-grey noborder">

        </div>
        <div className="col-sm-3 light-grey noborder">
          TAMS27
        </div>
      </div>
      </div>
    )
  }
}

class FieldRow extends React.Component {
  render() {
    return(
      <option value={this.props.field.id}>
        {this.props.field.name}
      </option>
    )
  }

}
class Fields extends React.Component {
  onChange(event) {
    this.props.onChange(event.target.value);
  }
  render() {
    var fieldRows = []
    this.props.fields.forEach((field) => {
      fieldRows.push(<FieldRow key={field.id} field={field}/>);
    });
    return (
      <select onChange={this.onChange.bind(this)}>
        {fieldRows}
      </select>
    )
  }
}

// The Selected semester
class Semester extends React.Component {
  onChange(event) {
    this.props.onChange(event.target.value);
  }

  render() {
    return (
      <select onChange={this.onChange.bind(this)}>
        <option name="All">All</option>
        <option name="7">7</option>
        <option name="8">8</option>
        <option name="9">9</option>
      </select>
    )
  }
}

// The main component
class CourseViewer extends React.Component {
  constructor(props){
    super(props);
    this.handleChangeSearch = this.handleChangeSearch.bind(this);
    this.profileCheckbox = this.profileCheckbox.bind(this);
    this.addCourse = this.addCourse.bind(this);
    this.fieldSelect = this.fieldSelect.bind(this);
    this.updateSemester = this.updateSemester.bind(this);

    this.state = {
      selectedField: -1,
      searchString: '',
      courseList: [],
      profileList: [],
      currentField: 'none',
      currentSemester: 'All',
    };
  }

  handleChangeSearch(event){
    // Read value form input box
    this.setState({
      searchString: event.target.value
    });
  }

  // Adding course to the list
  addCourse(code) {
    console.log('clicking course', code);
    console.log(this.state.courseList);
    this.setState({
      courseList: this.state.courseList.concat([code])
    })
    console.log(this.state.courseList);
  }

  profileCheckbox(profileObj) {
    var id = profileObj.id;
    var checked = profileObj.checked;
    if (checked === true) {
      this.setState({
        profileList: this.state.profileList.concat([id])
      });
    }
    else{
      var array = this.state.profileList;
      var idx = array.indexOf(id);
      array.splice(idx, 1);
      this.setState({
        profileList: array
      });
    }
  }

  fieldSelect(fieldID) {
    var fieldName =
      this.props.fields.filter(function(field) {
        return (field.id == fieldID)
      }
    )[0].name;
    console.log("Field selected: " + fieldID + ' ' + fieldName);
    this.setState({ currentField: fieldID })
  }

  updateSemester(semester) {
    console.log("Updated semester: " + semester);
    this.setState({
      currentSemester: semester
    });
  }

  render() {
    var schedule = this.props.schedule;
    var curSem = this.state.currentSemester;

    if (curSem !== 'All'){
      schedule = schedule.filter(function(row) {
        if (row.semester.match(curSem)) {
            return true;
        }
      });
    }

    var all_courses = this.props.courses;

    console.log(all_courses.length);
    console.log(schedule.length);

    var courses = [];
    for (var c = 0; c < all_courses.length; c++) {
      for (var s = 0; s < schedule.length; s++) {
        var cour = all_courses[c];
        var sche = schedule[s];
        if (cour.code == sche.code) {
          courses.push({
            'code': cour.code,
            'name': cour.name,
            'level': cour.level,
            'hp': cour.hp,
            'semester': sche.semester,
            'period': sche.period,
            'block1': sche.block1,
            'block2': sche.block2,
          });
          break;
        }
      }
    }

    console.log('Profiles');
    console.log(this.state.profileList);

    var searchString = this.state.searchString.trim().toLowerCase();

    // filter courses list by value from input box
    if(searchString.length > 0){
      courses = courses.filter(function(course){
        return (course.code + course.name).toLowerCase().match( searchString );
      });
    }

    var courseRows = []
    courses.forEach((course) => {
      courseRows.push(<CourseRow key={course.code} course={course} onClick={this.addCourse.bind(this)}/>);
    })

    var tableStyle = {width: '100%'};
    var divStyle = {padding: '20px'};

    var tableStyleLeft = {width: '70%'}
    var tableStyleRight = {width: '30%'};

    return (
      <div className="row row-eq-height container-fluid potatis">
        <div className="col-sm-8 grey">
          <div id="selectedProgram">
            Valt program: {this.props.program.name}
          </div>
          <div id="selectedField">
            Valt huvudområde:
            <Fields
              fields={fields}
              onChange={this.fieldSelect.bind(this)}
            />
            <br />
            Vald termin:
            <Semester
              onChange={this.updateSemester.bind(this)}
            />
          </div>
          <ProfileSelector
            profileCheckbox={this.profileCheckbox.bind(this)}
            profiles={this.props.profiles}
          />
          <div style={divStyle}>
            <input id="search" type="text"
              value={this.state.searchString}
              onChange={this.handleChangeSearch}
              placeholder="Vad får det lov att vara? 😋"
            />
            {courseRows}
          </div>
        </div>
        <div className="col-sm-4 light-grey">
          <ScheduleViewer
            selectedCourses={this.state.courseList}
          />
        </div>
      </div>
    )
  }
}

console.log('{{ program.courses[0].name }}')
// list of courses, defined with JavaScript object literals
var courses = [
  {% for pc in program.courses %}
    {
      "code": "{{ pc.course.code }}",
      "hp": "{{ pc.course.hp }}",
      "level": "{{ pc.course.level }}",
      "name": "{{ pc.course.name }}"
    },
  {% endfor %}
];

var program = [
    {
      "id": "{{ program.id }}",
      "name": "{{ program.name }}",
      "link": "{{ program.link }}",
    },
];

var fields = [
  {% for f in program.fields %}
    {
      "id": "{{ f.id }}",
      "name": "{{ f.name }}",
      "programID": "{{ f.program_id }}",
    },
  {% endfor %}
];

var profiles = [
  {% for field in program.fields %}
    {% for profile in field.profiles %}
      {
        "id": "{{ profile.id }}",
        "name": "{{ profile.name }}",
        "fieldID": "{{ profile.field_id }}",
        "link": "{{ profile.link }}",
      },
    {% endfor %}
  {% endfor %}
];

var schedule = [
  {% for sc in schedule %}
    {
      "id": "{{ sc.id }}",
      "code": "{{ sc.code }}",
      "semester": "{{ sc.semester }}",
      "period": "{{ sc.period }}",
      "block1": "{{ sc.block1 }}",
      "block2": "{{ sc.block2 }}",
    },
  {% endfor %}
];

ReactDOM.render(
  <CourseViewer
    program={ program }
    fields={ fields }
    courses={ courses }
    profiles={ profiles }
    schedule={ schedule }
  />,
  document.getElementById('container')
);
</script>

{% endblock %}
